@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
    ;
}

body{
    font-size: 100%;
    background: linear-gradient(272.03deg, #FD96E0 3.21%, #85358C 100.07%);
}

.cabeçalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px 28px;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: flex-start;
}

.cabeçalho-menu{
    display: flex;
    gap: 95px;
    padding: 51px;
}

.cabeçalho-menu-item{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 24px;
}

.principal{
    border-top: 0.4px solid white;
    margin-bottom: 48px;
   }

   /* CARROSEL*/
   
   .slider {
    position: relative;
    width: 350px;
    margin: 50px auto;
    perspective: 1000px;
    padding-top: 120px;
  }
  
  .rotator {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 55%;
    height: 150px;
    transform-style: preserve-3d;
    animation: roter 29s linear infinite;
  }
  
  .items {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 2px solid #0000;
    border-radius: 17px;
  }
  
  .items img {
    height: 100%;
    width: 100%;
    transition: all 3s ease;
  }
  
  .items:hover img {
    transform: scale(1.1);
  }
  
  @keyframes roter {
    from {
      transform: rotateY(0deg);
    }
  
    to {
      transform: rotateY(360deg);
    }
  }
  
  .items:first-child {
    transform: rotateY(calc(40deg)) translateZ(300px);
  }
  
  .items:nth-child(2) {
    transform: rotateY(calc(80deg)) translateZ(300px);
  }
  
  .items:nth-child(3) {
    transform: rotateY(calc(120deg)) translateZ(300px);
  }
  
  .items:nth-child(4) {
    transform: rotateY(calc(160deg)) translateZ(300px);
  }
  
  .items:nth-child(5) {
    transform: rotateY(calc(200deg)) translateZ(300px);
  }
  
  .items:nth-child(6) {
    transform: rotateY(calc(240deg)) translateZ(300px);
  }
  
  .items:nth-child(7) {
    transform: rotateY(calc(280deg)) translateZ(300px);
  }
  
  .items:nth-child(8) {
    transform: rotateY(calc(320deg)) translateZ(300px);
  }
  
  .items:nth-child(9) {
    transform: rotateY(calc(360deg)) translateZ(300px);
  }
  
  .rotator:hover {
    animation-play-state: paused;
  }

  /*RESPONSIVIDADE*/

  @media screen and (max-width: 500px){

    .logo{
        display: flex;
        justify-content: flex-start;
        width: 69px;
        height: 57px;
    }
    

    .cabeçalho{
        display:flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding: 24px 17px;
        justify-content: space-between;
}

.cabeçalho-menu{
  display: flex;
  gap: 10px;
  padding: 20px;

}
.cabeçalho-menu-item{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 9.5px;

}

.principal{
    border-top: 0.4px solid white;
    margin-bottom: 48px;
   }

   




}